<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateHome()">
      <ion-icon name="radio"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button (click)="navigateNotifications()">
      <ion-icon name="radio"></ion-icon>
      Notificaciones
    </ion-tab-button>
    <ion-tab-button (click)="navigateExclusive()">
      <ion-icon name="radio"></ion-icon>
      Exclusivos
    </ion-tab-button>
    <ion-tab-button (click)="navigateUser()">
      <ion-icon name="radio"></ion-icon>
      Usuario
    </ion-tab-button>
    <ion-tab-button (click)="navigateCreate()">
      <ion-icon name="radio"></ion-icon>
      crear-evento
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
